<div class="container">
    <div class="row mt-3 justify-content-center">

        <h1>About</h1>
      </div>


  <div class="container">
    <div class="row">
        <div class="col-xs-12 mx-auto">
            <div class="text-center"
            <p>
              <br>
                ながのCAKEは全国発送可能なケーキ屋さんです。</br>
                お子様からお年寄りの方までお召し上がりいただけるよう、</br>
                様々なバリエーションをご用意しております。</br>
                また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
                ぜひご注文ください。</br>
            </p>
            </div>
        </div>
    </div>
  </div>



<div class="container">
    <div class="row mt-3 mb-5 justify-content-center">
      <%= image_tag "birthday-2901945__480.jpg", size: '450x300' %>
  </div>
</div>
