
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="p-3 mb-2 bg-secondary text-light">注文履歴一覧</div>
    </div>


  <table class="table">
  <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
        <th colspan="3"></th>
      </tr>
    </thead>



 <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.created_at.strftime('%Y年%m月%d %H:%M:%S'), admin_order_path(order.id) %></td>
      <td><%= order.customer.full_name %></td>
      <td></td>
      <td><%= order.status_i18n %></td>
    </tr>
    <% end %>
  </tbody>
  </table>

<%= paginate @orders %>
