<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="p-3 mb-2 bg-secondary text-light">注文情報確認</div>
    </div>
  </div>

<div class="container">
    <div class="row">
  <table border="1" style="border-collapse: collapse">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

<tbody>
    <tr>



  </tbody>

  </table>

  </div>
  </div>


<h4>支払方法</h4>




<h4>お届け先</h4>