
<div class="container">
    <h3>商品一覧</h3>

    <div class="row">
      <% @items.each do |item| %>
            <div class="col">
                <%= link_to (image_tag item.image, size: '200x200'), public_item_path(item.id) %>

            <div class="col">
                <strong>商品名</strong>
                <%= item.name %>

            <div class="col">
                <strong>価格</strong>
                <%= item.price %>

            </div>
            </div>
            </div>



    <% end %>
    </div>
</div>


